<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>500 Not found</title>
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=7">
    <meta name="language" content="en-EN" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <link rel="stylesheet" href="/css/bulma-tooltip.min.css"></link>
    <link rel="stylesheet" href="/css/bulma-tooltip.sass"></link>
    <style>
        .active {
            background-color: rgb(255,207,38);
            margin-right: -12px;
        }
    </style>
</head>
<body style="background-color: #515151">

<nav class="navbar" role="navigation" aria-label="dropdown navigation" style="background-color: #FFCF26">
    <div class="navbar-brand  navbar-start">
        <div class=" navbar-item">
            <p style="font-size: 23px"> MODUL<b>KARYAWAN</b> </p>
        </div>
    </div>
</nav>

<section class="hero is-warning is-fullheight" style="background-color: #515151">
    <div class="hero-body">
        <div class="container has-text-centered">

            <h1 style="color: white; font-size: 64px">500 ERROR</h1>
            <h1 style="color: #FFFFFF">Kesalahan pengaturan konfigurasi</h1>
            <h2 style="color: #FFFFFF">Silahkan kembali ke menu utama</h2>
            <a style="color: #FFFFFF; font-size: 14px" class="button is-warning" href="/">
                <i class="fa fa-home"></i> Menu Utama
            </a>
        </div>
    </div>
</section>

</body>
</html>
