<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Absensi </title>
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=7">
    <meta name="language" content="en-EN" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/js/bulma-calendar.min.js"></script>
    <script src="/js/bulma-calendar.js"></script>
    <link rel="stylesheet" href="/css/bulma-calendar.min.css"></link>
    <link rel="stylesheet" href="/css/bulma-calendar.sass"></link>
    <script src="/js/extension.js"></script>
    <link rel="stylesheet" href="/css/extension.sass"></link>
    <script src="/js/bulma-accordion.js"></script>
    <link rel="stylesheet" href="/css/bulma-accordion.min.css"></link>
    <link rel="stylesheet" href="/css/bulma-accordion.sass"></link>
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/bulma-tooltip.min.css"></link>
    <link rel="stylesheet" href="/css/bulma-tooltip.sass"></link>
    <link rel="stylesheet" href="/css/main.css"></link>
    <style>
        .active {
            background-color: rgb(255,207,38);
            margin-right: -12px;
        }
    </style>
    <script>
        $(document).ready(function() {
            $(".finalisasi").hide();
            $('#EmployeeTable').DataTable();

        } );
        function showModalFinalisasi(id) {
            $(".finalisasi").show();
            $("#confirmFinalisasi").attr("href", "/absen/unfinalized/" + id);
        };
        function cancelModalHapus() {
            $(".hapus").hide();
            $("#confirmNonaktif").attr("href", "#");
        };

        function cancelModalNotif() {
            $(".notif").hide();
        };

    </script>
</head>

<body>
<header>
    <div th:replace="fragments/fragment :: navbar"></div>
</header>
<div class="wrapper">
    <div class="columns">
        <aside class="column" th:replace="fragments/fragment :: sidebar"></aside>
        <main class="column main">
            <nav class="breadcrumb is-small" aria-label="breadcrumbs">
                <ul>
                    <li><a href="#" >Karyawan</a></li>
                    <li><a href="#"  aria-current="page">Absensi</a></li>
                </ul>
            </nav>
            <div class="columns">
                <div class="column">
                    <h1 style=" font-weight: bold"> Riwayat Absensi </h1>
                </div>
                <div class="column">
                </div>
                <div class="column">
                </div>
            </div>
            <form id="formTambahAbsensi" class="field" action="/absensi/tambah/submit" method="post" th:object="${newAbsen}">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Tanggal Absensi</label>
                    </div>
                    <div class="field-body is-normal">
                        <div class="select ">
                            <input id="datepickerDemo" class="input" type="text" th:value="${newAbsen.tanggal_absen}" th:field="*{tanggal_absen}">
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Status Kehadiran</label>
                    </div>
                    <div class="field-body is-normal">
                        <div class="select ">
                            <select th:field="*{id_kategori_kehadiran}">
                                <option th:each="hadir : ${kehadiran}" th:value="${hadir.id_kategori}" th:text="${hadir.nama_kategori}">Hadir</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label"> Keterangan</label>
                    </div>
                    <div class="field-body is-normal">
                        <div class="control" style="width: 500px">
                            <textarea class="textarea is-primary" type="text" placeholder="Keterangan" th:value="${newAbsen.keterangan}" th:field="*{keterangan}"></textarea>
                        </div>
                    </div>
                </div>
                <br>
                <div style="margin-left: 150px">
                    <button class="button is-success" style="margin-bottom: 50px" onclick="saveForm()">
                    <span class="icon is-small">
                        <i class="fa fa-check"></i>
                    </span>
                        <span>Simpan</span>
                    </button>
                </div>
            </form>
            <div class="tabs is-medium">
                <ul>
                    <li>
                        <a th:href="'/absen/kelola'">
                            <span class="icon is-small"><i class="fas fa-ban" aria-hidden="true"></i></span>
                            <span>Absen Belum Difinalisasi</span>
                        </a>
                    </li>
                    <li class="is-active">
                        <a th:href="'/absen/kelola/final'">
                            <span class="icon is-small"><i class="fas fa-check" aria-hidden="true"></i></span>
                            <span>Absen Sudah Difinalisasi</span>
                        </a>
                    </li>
                </ul>
            </div>
            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth" align="center" id="EmployeeTable">
                <thead>
                <tr>
                    <th style="color: white; text-align:center; background-color: rgb(242,153,74)"> Tanggal </th>
                    <th style="color: white; text-align:center; background-color: rgb(242,153,74)"> Keterangan Kehadiran</th>
                    <th style="color: white; text-align:center; background-color: rgb(242,153,74)"> Status </th>
                    <th style="color: white; text-align:center; background-color: rgb(242,153,74)"> Keterangan </th>
                    <th style="color: white; text-align:center; background-color: rgb(242,153,74)"> Atur </th>
                </tr>
                </thead>
                <tbody>
                <div th:each="absen : ${absen}">
                    <tr>
                        <td style="text-align:center" th:text="${absen.tanggal_absen}"> 8 Mei 2018 </td>
                        <td style="text-align:center; " th:text="${absen.nama_kategori_kehadiran}"> Hadir</td>
                        <td style="text-align:center; " th:text="${absen.is_finalize} ==  1 ? 'Sudah Terfinalisasi' : 'Belum Terfinalisasi'"> Finalized </td>
                        <td style="text-align:center; " th:text="${absen.keterangan}"> Keterangan </td>
                        <td style="text-align:center; ">

                            <span class="icon is-small">
                                <a class="tooltip is-tooltip-bottom" data-tooltip="Batal Finalisasi" style="font-size: 16px; color: #0a0a0a;" th:onclick="'javascript:showModalFinalisasi(\''+ ${absen.id_absen} +'\');'">
                                    <i class="fa fa-ban"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                </div>
                </tbody>
            </table>
        </main>
    </div>
</div>
<div th:each="absen : ${absen}">
    <div class="modal finalisasi is-active">
        <div class="modal-background"></div>
        <div class="modal-card has-text-centered">
            <section class="modal-card-body">
                <h3>Apakah Anda yakin ingin memfinalisasi Absensi?</h3>
                <br>
                <a id="confirmFinalisasi" class="button is-danger" th:href="'/absen/unfinalized/' + ${absen.id_absen}" method="post" th:object="${absen}">Batalkan Finalisasi</a>
                <button onclick="cancelModalFinalisasi()" class="button">Batal</button>
            </section>
        </div>
    </div>

    <div th:if="${param.success}" class="modal notif is-active">
        <div class="modal-background"></div>
        <div class="modal-card has-text-centered">
            <section class="modal-card-body">
                <h3>Berhasil <span th:text="${param.success}"></span> Absen</h3>
                <br>
                <button onclick="cancelModalNotif()" class="button is-success">Oke</button>
            </section>
        </div>
    </div>

    <div th:if="${param.gagal}" class="modal notif is-active">
        <div class="modal-background"></div>
        <div class="modal-card has-text-centered">
            <section class="modal-card-body">
                <h3>Berhasil <span th:text="${param.gagal}"></span> Absen</h3>
                <br>
                <p th:text="${#messages}"></p>
                <button onclick="cancelModalNotif()" class="button is-success">Oke</button>
            </section>
        </div>
    </div>
</div>
</body>
<script>
    $( function() {
        $( "#datepicker" ).datepicker();
    });
    document.addEventListener( 'DOMContentLoaded', function () {
        var datePicker = new bulmaCalendar( document.getElementById( 'datepickerDemo' ), {
            startDate: new Date(), // Date selected by default
            dateFormat: 'yyyy-MM-dd', // the date format `field` value
            lang: 'en', // internationalization
            overlay: false,
            closeOnOverlayClick: true,
            closeOnSelect: true,
            // callback functions
            onSelect: null,
            onOpen: null,
            onClose: null,
            onRender: null
        } );
    } );
</script>
</html>
