<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Ubah Kategori Benefit </title>
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=7">
    <meta name="language" content="en-EN" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/js/bulma-calendar.min.js"></script>
    <script src="/js/bulma-calendar.js"></script>
    <link rel="stylesheet" href="/css/bulma-calendar.min.css"></link>
    <link rel="stylesheet" href="/css/bulma-calendar.sass"></link>
    <script src="/js/extension.js"></script>
    <link rel="stylesheet" href="/css/extension.sass"></link>
    <script src="/js/bulma-accordion.js"></script>
    <link rel="stylesheet" href="/css/bulma-accordion.min.css"></link>
    <link rel="stylesheet" href="/css/bulma-accordion.sass"></link>
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/bulma-tooltip.min.css"></link>
    <link rel="stylesheet" href="/css/bulma-tooltip.sass"></link>
    <link rel="stylesheet" href="/css/main.css"></link>
    <style>
        .active {
            background-color: rgb(255,207,38);
            margin-right: -12px;
        }
    </style>
    <script>
        function cancelModalNotif() {
            $(".notif").hide();
        };

    </script>

</head>

<body>
<header>
    <div th:replace="fragments/fragment :: navbar"></div>
</header>

<div class="wrapper">
    <div class="columns">
        <aside class="column" th:replace="fragments/fragment :: sidebar"></aside>

        <main class="column main">
            <nav class="breadcrumb is-small" aria-label="breadcrumbs">
                <ul>
                    <li><a href="#">Administrator</a></li>
                    <li><a href="#" aria-current="page">Kategori Benefit</a></li>
                    <li><a href="#" aria-current="page">Ubah</a></li>
                </ul>
            </nav>
            <div class="columns">
                <div class="column">
                    <h1 style="font-weight: bold"> Ubah Kategori Benefit </h1>
                </div>
            </div>

            <form id="formUbahKategoriBenefit" class="field" action="/kategori-benefit/ubah/submit" method="post" th:object="${kategori_benefit}">

                <input type="hidden" th:value="${kategori_benefit.id_kategori}" th:field="*{id_kategori}">

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Nama Kategori Benefit </label>
                    </div>
                    <div class="field-body is-normal">
                        <input class="input" type="text" placeholder="nama kategori benefit" th:value="${kategori_benefit.nama_kategori}" th:field="*{nama_kategori}" th:required="required">
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Deskripsi </label>
                    </div>
                    <div class="field-body is-normal">
                        <textarea class="textarea" placeholder="deskripsi" th:value="${kategori_benefit.deskripsi}" th:field="*{deskripsi}" rows="3"></textarea>
                    </div>
                </div>


            </form>

            <br>

            <div class="has-text-centered" >
                <span style="margin-right: 200px">
                    <button type="submit" class="button is-success" onclick="openConfirmationModal()">Simpan</button>
                    <a th:href="'/kategori-benefit/kelola/'" class="button ">
                        Batal
                    </a>
                </span>
            </div>


        </main>
    </div>
</div>
<script>
    function saveForm() {
        $('#formUbahKategoriBenefit').submit();
    }

    function openConfirmationModal() {
        $(".modal").addClass("is-active");
    }

    function closeConfirmationModal() {
        $(".modal").removeClass("is-active");
    }
</script>

<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card has-text-centered">
        <header class="modal-card-head">
            <p class="modal-card-title"></p>
            <button class="delete" aria-label="close" onclick="closeConfirmationModal()"></button>
        </header>
        <section class="modal-card-body">
            <h3>Apakah Anda yakin ingin menyimpan perubahan yang dilakukan ?</h3>

            <br>
            <button type="submit" class="button is-success" onclick="saveForm()">Simpan</button>
            <button type="button" class="button is-danger" onclick="closeConfirmationModal()">Batal</button>
        </section>
    </div>
</div>

<div th:if="${param.gagal}" class="modal notif is-active">
    <div class="modal-background"></div>
    <div class="modal-card has-text-centered">
        <section class="modal-card-body">
            <h3>Gagal mengubah Kategori Benefit</h3>
            <h3>Nama Kategori Benefit harus memiliki setidaknya 2 karakter</h3>
            <br>
            <button onclick="cancelModalNotif()" class="button is-success">Oke</button>
        </section>
    </div>
</div>

</body>

</html>
